# Firebase Configuration (Optional override - default demo credentials provided in src/firebase.js)
VITE_FIREBASE_API_KEY="AIzaSyBo3ITwFgt79N5If6kaiIyqCGSIrNQyA-Y"
VITE_FIREBASE_AUTH_DOMAIN="cricket-auction-76a1f.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="cricket-auction-76a1f"
VITE_FIREBASE_STORAGE_BUCKET="cricket-auction-76a1f.firebasestorage.app"
VITE_FIREBASE_DATABASE_URL="https://cricket-auction-76a1f-default-rtdb.asia-southeast1.firebasedatabase.app/"
VITE_FIREBASE_MESSAGING_SENDER_ID="700473905801"
VITE_FIREBASE_APP_ID="1:700473905801:web:f27bd040fb7dfa81eb2c58"
VITE_FIREBASE_MEASUREMENT_ID="G-JPPK8W18L6"
